.popover-container { 
    position: relative; 
    display: inline-block; 
  }  
  .popover-content { 
    position: absolute; 
    /* top: 100%;  */
    left: 85px; 
    transform: translateX(-50%); 
    margin-top: 10px; 
    padding: 10px; 
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
    white-space: nowrap; 
  }  